<ion-content [fullscreen]="true">
  <!-- <img src="assets/img/background.jpeg" class="background"> -->
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/img/logo1.png" width="50%">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>
            <strong>SISTEMA DE CONTROL DE RONDAS</strong>
          </h3>
          <p><a rel="" routerLink="/round">Registrar ronda</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="myColor">
  <ion-toolbar>
    <div class="container">
      <p><a rel="" routerLink="/device">Registrar dispositivo</a></p>
      <p *ngIf="cod_uuid !== ''">{{cod_uuid}}</p>
    </div>
  </ion-toolbar>
</ion-footer>
