@media (prefers-color-scheme: dark) {
  
}
@media screen {
  ion-toast.toast-custom-class {
    --border-radius: 30px !important;
    --text-align: center !important;
    --background-color: #676767 !important;
    text-align: center;
  }
}