<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>Registrar dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="container">

  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-card>
        
         
        
          <ion-card-content>
            <div class="ion-text-center">
              <h3>
                <ion-button fill="outline" (click)="storage()">Registrar</ion-button>
              </h3>
              <!-- <ion-text color="primary">
                <h2>H2: The quick brown fox jumps over the lazy dog</h2>
              </ion-text> -->
              Recuerde que debe tener la opcion de "<ion-text color="success"><b>Regisrar dispositivo activa</b></ion-text>" en la Aplicación web
            </div>
          </ion-card-content>
        </ion-card>

        
      </ion-col>
    </ion-row>
    
  </ion-grid>



</div>
</ion-content>

