.text-center{
  text-align: center;
}

.native-input .sc-ion-input-md {
  text-align: center;
}

.img{
  width: 200px;
}

.footer{
  margin-top: 80px;
}

.m-t-5{
  margin-top: 5px;
}

.m-t-10{
  margin-top: 10px;
}