<ion-header>
  <ion-toolbar>
    <ion-title>Puntos de control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Punto 1</ion-label>
      <ion-button routerLink="/round-create" slot="end">IR</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Punto 2</ion-label>
      <ion-button routerLink="/round-create" slot="end">IR</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Punto 3</ion-label>
      <ion-button routerLink="/round-create" slot="end">IR</ion-button>
    </ion-item>

  </ion-list>

  

  

</ion-content>
